@tailwind base;
@tailwind components;
@tailwind utilities;

.product-grid {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.product-grid::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
